
Frontend/.next
Frontend/node_modules
Frontend/.env.local
__pycache__
.env



mongodb-data
Backend/exaple




Services/Documents/dataset
Services/Documents/test
Services/Documents/LOG
Services/Documents/venv
Services/Documents/results
